In [75]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

data_frame = pd.read_csv('heart_cleveland_upload.csv')
data_frame

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [76]:
y = data_frame.condition
X = data_frame.drop('condition', axis=1)

In [77]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2 , random_state=23, stratify=y)

In [78]:
dt = DecisionTreeClassifier()
print(X_train)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
214   58    1   3       128   216    0        2      131      1      2.2
159   68    1   3       144   193    1        0      141      0      3.4
153   37    1   2       130   250    0        0      187      0      3.5
234   56    0   3       200   288    1        2      133      1      4.0
38    56    1   1       120   236    0        0      178      0      0.8
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
59    44    1   1       120   263    0        0      173      0      0.0
84    65    0   2       155   269    0        0      148      0      0.8
111   54    1   2       150   232    0        2      165      0      1.6
134   47    1   2       130   253    0        0      179      0      0.0
192   61    1   3       120   260    0        0      140      1      3.6

     slope  ca  thal
214      1   3     2
159      1   2     2
153      2   0     0
234      2   2     2
38       0   0     0
..     ...  ..   ...
59       0   0     2
84       0   0     0
111      0   0     2
134      0   0     0
192      1   1     2

[237 rows x 13 columns]

In [79]:
type(X_test)

pandas.core.frame.DataFrame

In [80]:
import pickle
from sklearn.preprocessing

In [81]:
data = {"model": dt}
with open('saved_steps.pkl', 'wb') as file:
    pickle.dump(data, file)

In [82]:
with open('saved_steps.pkl', 'rb') as file:
    data = pickle.load(file)
    
desicion_tree_loaded = data["model"]

In [83]:
test_dict = {'age':[70], 'sex':[1],'cp':[2], 'trestbps':[160], 'chol':[200], 'fbs':[1], 'restecg':[2], 'thalach':[150], 'exang':[1], 'oldpeak':[1.2], 'slope':[1], 'ca':[0], 'thal':[1]}
test_data = pd.DataFrame.from_dict(test_dict)
test_data
y_pred = desicion_tree_loaded.predict(test_data)
y_pred

array([1])

In [84]:
type(test_data)

pandas.core.frame.DataFrame